@media screen and (max-width: 600px) {
.width-me{
    width: 100%;
}
.vd-class{
    width:80%;
    height:40vh;
    object-fit: cover;
}
}
@media screen and (min-width: 600px) {
    .width-me{
        width: 45%;
    }
    .vd-class{
        width:45%;
        height:50vh;
        object-fit: cover;
    }
}